* body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif
}

.w3-row-padding img {
    margin-bottom: 12px
}


/* Set the width of the sidebar to 120px */

.w3-sidebar {
    width: 120px;
    background: rgb(42, 38, 38);
}


/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */

#main {
    margin-left: 120px;
}


/* Remove margins from "page content" on small screens */

@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0
    }
}

.container1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    padding-bottom: 35px;
}

.box2 {
    background-color: none;
    box-shadow: 10px 10px 5px 0px rgb(28, 143, 28,30);
    width: 20%;
    height: 150px;
    margin: 20px;
}

.box2:hover {
    background-color: rgb(42, 38, 38);
}

.footer {
    padding: 5px;
    text-align: center;
    background: black;
}


/*js animated*/

body {
    margin: 0;
    overflow: hidden;
}