*  body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:'Times New Roman', Times, serif
}

.w3-row-padding img {
    margin-bottom: 12px
}

.yugi-navbar {
    width: 100%;
    background: rgb(42, 38, 38);
}
:-webkit-full-screen{
    will-change: auto;
}

.container1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    padding-bottom: 35px;
}

.box2 {
    background-color: none;
    box-shadow: 10px 10px 5px 0px rgb(28, 143, 28,30);
    width: 20%;
    height: 150px;
    margin: 20px;
}

.box2:hover {
    background-color: rgb(42, 38, 38);
}

.footer {
    padding: 5px;
    text-align: center;
    background: black;
}

body {
    margin: 0;
    overflow: hidden;
}
@media only screen and (max-width: 600px) {
  .yugi-navbar {
    width: 100%;
    height: auto;
    display: flex;
  }
  .box2{
    width: 100%;
    height: 100px;
  }
  .para{
    width: 100%;
    height: auto;
  }
}
.social-media {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }

  .social-media a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color:white;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }

  .social-media a:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .social-media i {
    font-size: 20px;
    color:black;
  }
  