/* Modal styling */

/* Modal background overlay */
.fixed.inset-0.bg-black.opacity-50 {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex; 
    justify-content: center;
    align-items: center;
}

/* Modal main content styling */
.bg-white.p-8.rounded-lg.shadow-lg.relative.max-w-xl.w-full {
    background: linear-gradient(
        92.23deg,
        #ff56f6 21.43%,
        #b936ee 50.63%,
        #3bace2 100%,
        #406aff 117.04%
    );
    font-family: 'Orbitron', sans-serif; /* Use the Orbitron font */
    width: 80%; /* You can adjust this value based on your needs */
    max-width: 600px; /* Max width of the modal */
    padding: 16px;
    border-radius: 10px; /* Rounded corners */
    position: relative; 
    z-index: 10; /* To ensure it appears above the overlay */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
}

/* Close button styling */
.absolute.top-2.right-2 {
    position: absolute;
    top: 8px; 
    right: 8px; 
    font-size: 1.5rem; 
    cursor: pointer;
}
/* ... Other styles ... */

.modalContent {
    background: linear-gradient(
        92.23deg,
        #ff56f6 21.43%,
        #b936ee 50.63%,
        #3bace2 100%,
        #406aff 117.04%
    );
    font-family: 'Orbitron', sans-serif;
    /* ... other styles ... */
}

/* ... Other styles ... */
